* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.hero {
    min-height: 70vh;
    background: linear-gradient(
        rgba(0,0,0,0.6),
        rgba(0,0,0,0.6)
    ),
    url('./images/evento.jpg');

    background-size: cover;
    background-position: center;
}

.card img {
    height: 220px;
    object-fit: cover;
}

section {
    scroll-margin-top: 80px;
}

.nav-link {
    transition: 0.3s;
}

.nav-link:hover {
    background-color: rgba(255,255,255,0.15);
}

footer {
    margin-top: 40px;
}

@media (max-width: 768px) {

    .hero {
        min-height: 50vh;
    }

    .hero h1 {
        font-size: 2rem;
    }

    .hero p {
        font-size: 1rem;
    }
}